asgiref==3.7.2
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
Django==5.0.2
django-crispy-forms==2.1
idna==3.6
isodate==0.6.1
lxml==5.1.0
onvif_zeep==0.2.12
pillow==10.2.0
platformdirs==4.2.0
pyptz==0.1.8
python-dotenv==1.0.1
pytz==2024.1
reportlab==4.1.0
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
urllib3==1.26.18
zeep==4.2.1
